{% extends "base.html" %}

{% block announce %}
  <!-- Add Chain Abstraction wallet links here to avoid confusion with the built-in in-app wallet in the Auth SDK-->
  <div>
    <p style="text-align: center;">
      <b>New!   </b>Try the <i>Auth + Chain Abstraction </i> <a href="https://codesandbox.io/p/github/shaloo/sample-arcana-auth-ca-wagmi-sdks/sample-auth-ca-wagmi-integration">Integration Example </a>
  </p>
  </div>
{% endblock %}

{% block content %}
{{ super() }}
<style>

  .md-source-file {
        display: block;  /* Set display to none to not show the author and */text-align: center; /* publish date time on the landing page */
  }
 
</style>

{% endblock %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->

   <!-- Chatbase bot script -->
   <script>
    window.chatbaseConfig = {
      chatbotId: "Fbi0FsddfX1zz_DWM5jwJ",
    }
  </script>
  <script
    src="https://www.chatbase.co/embed.min.js"
    id="Fbi0FsddfX1zz_DWM5jwJ"
    defer>
  </script>
{% endblock %}
