@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@100;200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400&display=block");

:root > * {
     --md-primary-fg-color:        #058aff;
     --md-primary-fg-color--light: #13a3fd;
     --md-primary-fg-color--dark:  #5cf5ff;
     --md-default-bg-color--lighter: #e7f6ff;
     --md-text-font: "Inter";
     --md-admonition-icon--an-faq: url('/img/icons/icons8-question-mark-48.png');
     --md-admonition-icon--an-trbs: url('/img/icons/exclamation.png');
}

[data-md-color-scheme="black"] {
    --md-hue: 360; 
}

.md-button {
    border-radius: 0.3rem !important;
}

.md-grid {
  max-width: 100vw; 
}

.md-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

[class="md-banner"] {
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 0.5rem,
    rgba(155, 253, 19, 0.255) 0.25rem,
    rgba(19, 253, 253, 0.25) 1rem) !important;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: var(--md-secondary-fg-color);
    overflow: auto;
    text-align: center;
}

.md-nav__item--section {
    padding: 0.5rem;
}

.cards {
    max-width: "80%";
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr, 2fr;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1rem;
    font-size: 0.7rem;
    border-radius: 0.25rem;
}

.card:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_container {
    /* Add some padding inside the card container */
    padding: 0.2rem;
}

.md-typeset .admonition.an-faq,
  .md-typeset details.an-faq {
    border-bottom: var(--md-primary-fg-color--light);
    border-color: var(--md-default-bg-color);
}
  
.md-typeset .an-faq > .admonition-title,
  .md-typeset .an-faq > summary {
    background-color: var(--md-default-bg-color);
}
  
.md-typeset .an-faq > .admonition-title::before,
  .md-typeset .an-faq > summary::before {
    -webkit-mask-image: var(--md-admonition-icon--an-faq);
            mask-image: var(--md-admonition-icon--an-faq);
}

.md-typeset .admonition.an-trbs,
  .md-typeset details.an-trbs {
    border-bottom: var(--md-primary-fg-color--light);
    border-color: var(--md-default-bg-color);
}
  
.md-typeset .an-trbs > .admonition-title,
  .md-typeset .an-trbs > summary {
    background-color: var(--md-default-bg-color);
}
  
.md-typeset .an-trbs > .admonition-title::before,
  .md-typeset .an-trbs > summary::before {
    -webkit-mask-image: var(--md-admonition-icon--an-trbs);
            mask-image: var(--md-admonition-icon--an-trbs);
}